.button-reaction {
  width: 13px;
  height: 12px;
  padding: 0;
  border: none;
  border-radius: 3px;

  .button-reaction__icon {
    fill: @pink;
  }

  &:hover {
    .button-reaction__icon {
      fill: fade(@pink, 60%);
    }
  }

  &:focus {
    box-shadow: 0 0 0 2px @darkblue;
    outline: none;
  }

  &:active {
    .button-reaction__icon {
      fill: fade(@pink, 30%);
    }
  }
}
