.contacts {
  padding-top: 22px;
}

.contacts__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .justify-box(auto; auto);
  padding-right: 20px;
  padding-left: 20px;
}

.contacts__item {
  width: 241px;
  .justify-box(auto; auto);

  &--address {
    order: 3;
  }
}

.contacts__title {
  width: 100%;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 300;
  text-align: center;
  margin-bottom: 23px;
}

.contacts__map {
  margin-top: 23px;
  .justify-box(auto; auto);
}

@media (min-width: @tablet-width) {
  .contacts {
    padding-top: 11px;
  }

  .contacts__title {
    font-size: 40px;
    line-height: 54px;
  }

  .contacts__item {
    &--phone {
      margin-right: 40px;
      margin-bottom: 22px;
    }
  }

  .contacts__map {
    margin-top: 13px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    padding-top: 17px;
  }

  .contacts__wrapper {
    box-sizing: border-box;
    width: 1200px;
    padding-right: 130px;
    padding-left: 130px;
  }

  .contacts__title {
    font-size: 50px;
    line-height: 68px;
    margin-bottom: 30px;
  }

  .contacts__item {
    &--phone {
      margin-right: auto;
    }

    &--email {
      order: 4;
    }

    &--address {
      margin-left: 40px;
      margin-right: 40px;
    }
  }

  .contacts__map {
    margin-top: 9px;
  }
}
