.contest__header {
  margin-bottom: 15px;
  text-align: center;
}

.contest__title-wrapper {
  margin-bottom: 44px;
  padding-top: 94px;
  padding-bottom: 44px;
  background-color: @charcoalblue;
  .header-background();
}

.contest__title {
  max-width: 450px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  color: @white;
}

.contest__description {
  max-width: 450px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  line-height: 30px;
}

.contest__description-text {
  display: none;
}

.contest__form {
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .contest__header {
    margin-bottom: 12px;
  }

  .contest__title-wrapper {
    margin-bottom: 91px;
    padding-top: 177px;
    padding-bottom: 39px;
  }

  .contest__title {
    max-width: 748px;
    margin-bottom: 20px;
    font-size: 50px;
    line-height: 68px;
  }

  .contest__description {
    max-width: 756px;
    padding-right: 85px;
    padding-left: 85px;
    font-size: 18px;
  }

  .contest__description-text {
    display: inline;
  }
}

@media (min-width: @desktop-width) {
  .contest__header {
    margin-bottom: 25px;
  }

  .contest__title-wrapper {
    padding-top: 169px;
    padding-bottom: 69px;
    background-image: url("../img/backgrounds/bg-desktop.jpg");
    background-size: 2560px auto;
    background-position: top center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/backgrounds/bg-desktop@2x.jpg");
    }
  }
}
