.copyright {
  display: flex;
  align-items: center;
  padding: 5px 0;
}

.copyright__text {
  line-height: 18px;
  font-weight: 400;
  margin-right: 6px;
  margin-left: 6px;
}

.copyright__link {
  padding: 5px;
  border-radius: 3px;

  &:hover {
    .copyright__img {
      fill: @darkblue;
    }
  }

  &:focus {
    outline: 2px solid @darkblue;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid @darkblue;
  }

  &:active {
    .copyright__img {
      fill: fade(@darkblue, 30%);
    }
  }
}

.copyright__img {
  display: block;
  fill: @pink;
}

@media (min-width: @desktop-width) {
  .copyright__text {
    font-size: 18px;
    margin-right: 3px;
  }
}
