.copyright {
  display: flex;
}

.copyright__text {
  margin-top: 9px;
  line-height: 18px;
  font-weight: 400;
  margin-right: 12px;
}

.copyright__img {
  display: block;
}

@media (min-width: @desktop-width) {
  .copyright__text {
    font-size: 18px;
    margin-right: 9px;
  }
}
