.feedback-form {
  display: flex;
  flex-direction: column;
}

.feedback-form__fieldset {
  margin: 0;

  &--name {
    margin-bottom: 22px;
  }

  &--app {
    order: 4;
  }

  &--contacts {
    order: 3;
  }

  &--achivments {
    order: 2;
    margin-bottom: 12px;
  }

  &--textarea {
    order: 5;
    margin-bottom: 13px;
  }
}

.feedback-form__submit-wrapper {
  order: 6;
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
}

.feedback-form__button {
  margin-bottom: 20px;
}

.feedback-form__text {
  margin-bottom: 1px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}

.feedback-form__note {
  color: @pink;
}

.feedback-form__text-hidden {
  display: none;
}

@media (min-width: @tablet-width) {
  .feedback-form {
    padding: 40px 20px;
    padding-bottom: 33px;
  }

  .feedback-form__fieldset {
    margin-bottom: 58px;

    &--name {
      margin-bottom: 38px;
    }

    &--app {
      order: 2;
    }

    &--contacts {
      order: 3;
    }

    &--achivments {
      order: 4;
    }

    &--textarea {
      order: 5;
      margin-bottom: 51px;
    }
  }

  .feedback-form__submit-wrapper {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px 0;
  }

  .feedback-form__button {
    min-width: 300px;
    margin: 0;
  }

  .feedback-form__text {
    margin-top: 17px;
  }
}

@media (min-width: @desktop-width) {
  .feedback-form {
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1200px;
    padding-right: 130px;
    padding-bottom: 0;
    padding-left: 130px;
  }

  .feedback-form__fieldset {
    margin-bottom: 57px;

    &--name {
      margin-bottom: 0;
    }

    &--app {
      margin-top: 6px;
    }

    &--textarea {
      margin-bottom: 50px;
    }
  }

  .feedback-form__submit-wrapper {
    width: 100%;
    padding-bottom: 0;
  }

  .feedback-form__text-hidden {
    display: inline;
  }
}
