.form-fieldset {
  position: relative;
  box-sizing: border-box;
  padding: 20px;
  border: none;

  &--achivments {
    background-color: @lightgrey;

    .form-fieldset__list {
      gap: 43px;
      margin-top: 93px;
      margin-bottom: 22px;
    }
  }

  &--contacts {
    .form-fieldset__legend {
      display: none;
    }

    .form-fieldset__list {
      margin-bottom: 22px;
    }
  }

  &--app {
    background-color: @lightgrey;

    .form-fieldset__list {
      gap: 36px;
      margin-top: 89px;
      margin-bottom: 22px;
    }
  }
}

.form-fieldset__legend {
  position: absolute;
  top: 39px;
  right: 0;
  left: 0;
  padding: 0 35px;
  line-height: 18px;
  color: @pink;
  text-transform: uppercase;
  text-align: center;
}

.form-fieldset__list {
  display: grid;
  gap: 17px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.form-fieldset__item {
  &--shark {
    order: 1;
  }

  &--norris {
    order: 3;
  }

  &--tower {
    order: 5;
  }

  &--beach {
    order: 2;
  }

  &--souvenir {
    order: 4;
  }

  &--hotel {
    order: 6;
  }
}

.form-fieldset__textarea {
  margin-top: 52px;
  margin-bottom: 0;
}

@media (min-width: @tablet-width) {
  .form-fieldset {
    border: 2px solid @grey;

    &--name {
      padding: 20px 0;
      border: none;
    }

    &--app,
    &--achivments {
      background-color: @white;

      .form-fieldset__list {
        margin-top: 24px;
        margin-bottom: 34px;
        margin-left: 38px;
      }
    }

    &--contacts {
      padding-right: 58px;
      padding-left: 58px;

      .form-fieldset__legend {
        display: block;
      }

      .form-fieldset__list {
        gap: 29px;
        margin-top: 16px;
        margin-bottom: 7px;
      }
    }

    &--achivments {
      .form-fieldset__list {
        margin-bottom: 28px;
      }
    }

    &--textarea {
      padding-right: 58px;
      padding-left: 58px;
    }
  }

  .form-fieldset__legend {
    position: static;
    margin: 0 auto;
  }

  .form-fieldset__list {
    gap: 52px;
  }

  .form-fieldset__textarea {
    margin-top: 17px;
    margin-bottom: 31px;
  }
}

@media (min-width: @desktop-width) {
  .form-fieldset {
    width: 100%;

    &--name {
      width: 435px;
    }

    &--app {
      width: 435px;

      .form-fieldset__list {
        gap: 37px;
        margin-left: 52px;
      }
    }

    &--contacts {
      padding-bottom: 6px;

      .form-fieldset__list {
        grid-template-columns: 371px 371px;
        column-gap: 74px;
        margin-top: 14px;
      }
    }

    &--achivments {
      .form-fieldset__list {
        grid-template-columns: 265px 245px 248px;
        column-gap: 50px;
        margin-bottom: 35px;
      }

      .form-fieldset__item {
        order: unset;
      }
    }
  }

  .form-fieldset__textarea {
    margin-top: 14px;
    margin-bottom: 23px;
  }
}
