.form-fieldset {
  display: flex;
  flex-direction: column;
  padding-top: 44px;
  padding-right: 22px;
  padding-bottom: 20px;
  padding-left: 22px;
  border: none;

  &--name {
    padding-top: 21px;
  }

  &--achivments,
  &--app {
    background-color: @lightgrey;
  }
}

.feedback-form__legend {
  float: left;
  margin-bottom: 42px;
  padding-right: 18px;
  padding-left: 18px;
  line-height: 18px;
  color: @pink;
  text-align: center;
  text-transform: uppercase;
}

.form-fieldset__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form-fieldset__item {
  margin-bottom: 19px;
}
