.input-field {
  padding: 14.5px 20px;
  font-size: 18px;
  line-height: 30px;
  color: @darkblue;
  border: 2px solid @grey;
  border-radius: 3px;

  &::placeholder {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: @darkblue;
  }

  &--message {
    height: 168px;
    font-family: inherit;
  }

  &:hover {
    border-color: @darkblue;
    transition: border-color 0.3s;
  }

  &:focus {
    border-color: @darkblue;
    outline: none;
  }

  &:active {
    border-color: @pink;
  }
}

@media (min-width: @tablet-width) {
  .input-field {
    &--phone,
    &--email {
      padding-right: 80px;
      background-repeat: no-repeat;
      background-size: auto;
      background-position: right;
    }

    &--phone {
      background-image: url("../img/svg/icons/phone-icon.svg");
    }

    &--email {
      background-image: url("../img/svg/icons/mail-icon.svg");
    }

    &--message {
      height: 160px;
    }
  }
}

@media (min-width: @desktop-width) {
  .input-field {
    &--message {
      height: 95px;
    }
  }
}
