.logo {
  display: block;
  width: 74px;
  padding: 23px 0;
  text-decoration: none;
  color: @white;
  --stars-color: @pink;

  .logo__img {
    fill: @white;

    &--primary {
      display: block;
    }

    &--secondary {
      display: none;
    }

    &--tertiary {
      display: none;
    }
  }

  &:hover {
    color: @pink;

    .logo__img {
      fill: @pink;
    }
  }

  &:focus {
    box-shadow: 0 0 0 2px @white;
    outline: none;
  }

  &:active {
    color: fade(@white, 30%);

    .logo__img {
      fill: fade(@white, 30%);
    }
  }
}

.logo--dark {
  width: 145px;
  padding: 10px;
  color: @darkblue;
  --stars-color: @darkblue;

  .logo__img {
    fill: @pink;

    &--secondary {
      display: block;
    }

    &--tertiary {
      display: none;
    }
  }

  &:hover {
    color: @pink;

    .logo__img {
      fill: @pink;
    }
  }

  &:focus {
    box-shadow: 0 0 0 2px @darkblue;
  }

  &:active {
    color: fade(@pink, 30%);

    .logo__img {
      fill: fade(@darkblue, 30%);
    }
  }
}

@media (min-width: @tablet-width) {
  .logo {
    width: 145px;
    padding-top: 27px;
    padding-bottom: 43px;

    .logo__img {
      &--primary {
        display: none;
      }

      &--secondary {
        display: block;
      }

      &--tertiary {
        display: none;
      }
    }
  }

  .logo--dark {
    padding: 10px;
  }
}

@media (min-width: @desktop-width) {
  .logo {
    .logo__img {
      &--primary {
        display: none;
      }

      &--secondary {
        display: none;
      }

      &--tertiary {
        display: block;
      }
    }
  }
}
