.page-footer__wrapper {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  .justify-box(auto; auto);
  padding: 40px 20px;
}

.page-footer__logo {
  margin-bottom: 38px;
}

.page-footer__social {
  margin-top: 0;
  .justify-box(30px; 30px);
  margin-bottom: 27px;
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    width: 660px;
    padding-top: 36px;
    padding-bottom: 25px;
  }

  .page-footer__logo {
    width: 145px;
    margin-bottom: 0;
  }

  .page-footer__social {
    .justify-box(auto; 75px);
    margin-bottom: 0;
  }

  .page-footer__copyright {
    margin-top: 11px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    width: 1200px;
    padding-top: 70px;
    padding-right: 130px;
    padding-bottom: 61px;
    padding-left: 130px;
  }

  .page-footer__social {
    .justify-box(auto; auto);
  }
}
