.page {
  height: 100%;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.page__body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  color: @darkblue;
}

.page__main,
.page__inner {
  flex-grow: 1;
}

.page__footer {
  margin-top: auto;
}

@media (min-width: @desktop-width) {
  .page__inner {
    margin-bottom: 28px;
  }
}
