.photo-upload__header {
  padding-top: 29px;
  padding-bottom: 48px;
  line-height: 30px;
  text-align: center;
  background-color: @white;
}

.photo-upload__text {
  width: calc(100% - 40px);
  .justify-box(auto, auto);
}

.photo-upload__form {
  .justify-box(auto, auto);
}
