.photo {
  box-sizing: border-box;
  width: 280px;
  max-width: 280px;
  text-align: left;
}

.photo--featured-photo {
  width: 100%;
  max-width: 100%;
  position: relative;
  text-decoration: none;

  &::before {
    position: absolute;
    top: 0;
    right: 20px;
    display: block;
    padding: 6px 20px;
    font-size: 12px;
    line-height: 24px;
    font-weight: 700;
    color: @white;
    text-transform: uppercase;
    background-color: @pink;
    content: attr(data-featured-photo);
  }
}

.photo__image {
  display: block;
  width: 100%;
  height: auto;
}

.photo__content {
  padding-top: 8px;
  padding-right: 10px;
  padding-bottom: 19px;
  padding-left: 17px;
  background-color: @lightgrey;
}

.photo__content--featured-photo {
  box-sizing: border-box;
  width: calc(100% - 40px);
  max-width: @mobile-width-only;
  .justify-box(auto; auto);
}

.photo__user {
  margin-top: 10px;
  margin-bottom: 0;
}

.photo__user-name {
  font-weight: 700;
}

.photo__date {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;

  &::before {
    content: "(";
  }

  &::after {
    content: ")";
  }
}

.photo__text {
  margin-top: 0;
  margin-bottom: 10px;
}

.photo__reaction {
  display: flex;
  align-items: baseline;
}

.photo__reaction-button {
  margin-right: 18px;
}

.photo__reaction-count {
  font-size: 12px;
  color: @pink;
  text-transform: uppercase;
}
