.photo-editor {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  max-width: @mobile-width-only;
  background-color: @lightgrey;
}

.photo-editor__image {
  display: block;
}

.photo-editor__tools {
  display: grid;
  width: 100%;
}

.photo-editor__tool-bar {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 218px;
  .justify-box(auto, auto);
  padding-top: 41px;
  padding-right: 12px;
  padding-bottom: 10px;
}

.photo-editor__buttons-wrapper {
  display: grid;
  width: 280px;
  gap: 12px;
  .justify-box(auto, auto);
  padding-top: 47px;
  padding-bottom: 41px;
}
