.site-nav {
  padding: 0;
  list-style: none;
  border-top: 1px solid @black;
}

.site-nav__link {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  padding: 15px 10px;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  color: @white;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: @darkblue;
  border-top: 1px solid fade(@white, 15%);
  border-bottom: 1px solid @black;

  &--current {
    cursor: default;
  }

  &:hover:not(&--current) {
    color: @pink;
  }

  &:active:not(&--current) {
    color: fade(@pink, 30%);
  }
}

@media (min-width: @desktop-width) {
  .site-nav {
    display: flex;
    width: 720px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .site-nav__item {
    margin-top: 24px;
    margin-right: 29px;
  }

  .site-nav__link {
    padding: 20px 25px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    text-transform: none;
    background-color: transparent;
    border: none;
    border-radius: 3px;

    &:focus {
      outline: 2px solid @white;
    }

    &:focus:not(:focus-visible) {
      outline: none;
    }

    &:focus-visible {
      outline: 2px solid @white;
    }

    &:active:not(&--current) {
      color: fade(@white, 30%);
    }

    &--current {
      position: relative;

      &::after {
        position: absolute;
        right: 24px;
        bottom: 0;
        left: 24px;
        display: block;
        height: 2px;
        background-color: @white;
        content: "";
      }
    }
  }
}
