.social {
  display: flex;
  width: 178px;
  flex-wrap: wrap;
  gap: 8px;
  padding: 0;
  list-style: none;
}

.social__link {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 54px;
  border: 3px solid fade(@darkblue, 10%);
  border-radius: 50%;

  &:hover {
    border-color: @darkblue;
  }

  &:focus {
    outline: 2px solid @darkblue;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid @darkblue;
  }

  &:active {
    .social__icon {
      fill: fade(@pink, 30%);
    }
  }
}

.social__icon {
  fill: @pink;
}

@media (min-width: @desktop-width) {
  .social {
    padding-left: 5px;
  }
}
